<div class="container">
    <div class="row" *ngIf="submited">
        <h3>Profile Updated Sucessfully</h3>
    </div>
    <div class="row" *ngIf="notValid">
        <h3>Please Add All fields</h3>
    </div>
    <div class="row">
        <div class="col-xs-12">
          <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-xs-12">
                <button
                  type="submit"
                  class="btn btn-success "
                >
                  Save
                </button>
                <button type="button" class="btn btn-danger">
                  Cancel
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label for="DOB">DOB</label>
                  <input
                    type="date"
                    id="DOB"
                    class="form-control"
                    formControlName="DOB"
                    required
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label for="imagePath">Image URL</label>
                  <input
                    type="text"
                    id="imagePath"
                    class="form-control"
                    formControlName="imagePath"
                    required
                    #imagePath
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <img [src]="imagePath.value" class="img-responsive" height="200px" width="200px" />
              </div>
            </div>
          </form>
        </div>
    </div>
</div>
